footer.container-fluid.bg-dark
  .container.my-5
    .row.text-dark
      .col-12.mt-3.text-light
        p.text-center www.congreso.gob.pe
        p.text-center Congreso de la Rep&uacute;blica
        p.text-center Plaza Bol&iacute;var, Av. Abancay s/n - Lima, Per&uacute;
        p.text-center Central telef&oacute;nica: 311-7777