.px-0.bg-light
  .container.px-0
    nav.main-nav.navbar.navbar-expand-sm.navbar-light.bg-light
      a.navbar-brand(href='#') Democracia Digital
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.m-0
          li.nav-item
            a.nav-link(href='#') Inicio
          li.nav-item
            a.nav-link(href='#') Servicios
          li.nav-item
            a.nav-link(href='#') Nosotros
          li.nav-item
            a.nav-link(href='#') Contáctanos